body{
	margin:0;
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
	font-size:18px;
	background-color: #E7E5DF;
}

.container{
	margin:0;
}

.topbar{
	position:fixed;
	top:0;
	height:5vh;
	width:100vw;
	background-color: #D3D0CB;
	z-index: +2;
}

.topbar form{
	float:right;
}

.topbar input[type=submit]{
	width:80px;
	background-color: #D3D0CB;
	border:none;
	font-size: 14px;
	line-height: 4vh;
}

article{
	position: relative;
	height:95vh;
	width:60vw;
	margin: 0 auto;
}

article form{
	display: inline-block;
}

.login{
	margin: 0 auto;
	width:30vw;
}

.login input[type=text]{
	width:18vw;
	float:right;
}

.login input[type=submit]{
width:100%;
height:25px;
border-radius:5px;
background-color: #E7E5DF;
border:none;
display: inline-block;
color: #393E41;
font-size: 14px;
text-align: center;
align-content: center;
}

.posts input[type=submit]{
width:15vw;
height:50px;
border-radius:5px;
background-color: #393E41;
margin:2vw;
display: inline-block;
color: #EEBE48;
font-size: 14px;
}

.posts input[type=submit]:hover{
background-color: #000;
}

.feed{
	width:50vw;
	margin:0 auto;
}

.more{
	font-size: 14px;
	margin-bottom:20px;
}

.header{
	font-size: 20px;
	text-align: center;
	margin: 90px 0 50px 0;
}

.request-item{
	margin:20px auto;
	padding:20px;
	width:20vw;
	display: inline-block;
	vertical-align: top;
}

.request-item:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.request-item input[type=submit]{
width:20vw;
height:30px;
border-radius:5px;
background-color: #EEBE48;
display: inline-block;
color: #393E41 ;
font-size: 12px;
}

.request{
	width:50vw;
	margin:50px auto;
}

.request input[type=submit]{
width:auto;
height:auto;
border-left:none;
border-right:none;
border-top:none;
border-bottom:1px solid black;
background-color: #E7E5DF;
display: inline-block;
color: #393E41 ;
font-size: 10px;
margin-right:10px;
padding: 0;
}

.postform{
	width:20vw;
	margin:50px auto;
}

.postform input[type=text]{
	height:20px;
	font-size: 14px;
	width:20vw;
}

.postform input[type=submit]{
width:20vw;
height:30px;
border-radius:5px;
background-color: #EEBE48;
display: inline-block;
color: #393E41 ;
font-size: 12px;
}

.notification{
	background-color: #FE6263;
	border-radius:100px;
	width:20px;
	height:20px;
	text-align: center;
	color:white;
	position:fixed;
	top:20px;
	float:right;
	right:160px;
	z-index:+3;
	display:none;
}

button{
	width:auto;
height:auto;
border-left:none;
border-right:none;
border-top:none;
border-bottom:1px solid black;
background-color: #E7E5DF;
display: inline-block;
color: #393E41 ;
font-size: 10px;
margin-right:10px;
padding: 0;
}

.chatbox{
	border: 1px solid black;
	height:250px;
	width:200px;
	display:none;
	position:fixed;
	bottom:0;
	right:0;
}

.chatheader{
	background-color: #393E41;
	height:20px;
	width:200px;
	text-align: right;
	color: white;
}

.chatbody{
	width:185px;
	height:150px;
	overflow-x: scroll;
	object-fit: contain;
	margin: 0 auto;
}

.text_input{
	position:relative;
	width:185px;
	margin: 10px auto;
}

/*.text_input input{
	width:180px;
	height:35px;
}*/


a{
	color:black;
	text-decoration: none;
}