body{
	margin:0;
	font-family: 'Helvetica', sans-serif;
	font-weight: 300;
	font-size:18px;
	background-color: #f5f5f5;
	color:black;
}

.container{
	padding:0;
}

.navbar{
	position: absolute;
	height:6vh;
	z-index:+1;
	background-color: white;
	border-bottom:2px solid #EEBE48;
	width: 100vw;
	color:black;
	top:0;
}

.navbar a{
	color:black;
}

.navbar a:hover{
	color:#EEBE48;
	text-decoration: none;
}

.header_img .copy h2{
	font-size:3rem;
}

h2{
	font-weight: 100;
	text-align: center;
	letter-spacing: 2px;
	font-size: 2rem;
}

.header_img{
	background-image: url('/images/landing.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width:100vw;
	height:80vh;
	color:white;
}

.header_img .copy{
	top:20vh;
}

.buttons{
	width:25vw;
	margin:0 auto;
	position:relative;
	top:20px;
}

.header_button{
	position: relative;
	display: inline-block;
	text-align: center;
	width:10vw;
	padding:5px;
	top:50%;
	background-color: rgba(0,0,0, 0.7);
	border: 1px white solid;
	border-radius: 3px;
}

.header_button:hover{
	background-color: #555555;
}

.right{
	float:right;
	right:0;
}

.center{
	text-align:center;
}

.block{
	margin:30px 0;
}

.demo img{
	width:100%;
}

.copy{
	width:60vw;
	margin:0 auto;
	position: relative;
}

.copy p{
	font-size: 20px;
}

.article{
	position: relative;
	width:100vw;
	margin-top:50px;
	margin-bottom:50px;
}

.container{
	margin:0;
}

.topbar{
	position:fixed;
	top:0;
	height:5vh;
	width:100vw;
	background-color: #D3D0CB;
	z-index: +2;
}

.topbar form{
	float:right;
}

.topbar input[type=submit]{
	width:80px;
	background-color: #D3D0CB;
	border:none;
	font-size: 14px;
	line-height: 4vh;
}

article{
	position: relative;
	height:95vh;
	width:60vw;
	margin: 0 auto;
}

article form{
	display: inline-block;
}

.login{
	margin: 20vh auto;
	width:30vw;
}

.login input[type=text]{
	width:100%;
	float:right;
}

.login input[type=submit]{
width:10vw;
padding:5px;
border-radius:3px;
background-color: #E7E5DF;
border:none;
display: inline-block;
color: #393E41;
font-size: 14px;
text-align: center;
margin:0 25%;
position: relative;
}

.form{
	width:80%;
	margin:0 auto;
}

.form p{
	font-size:16px;
	margin-bottom:0;
	margin-top:30px;
	text-transform: uppercase;
}

.postOpt{
	margin-top:30px;
}

.posts input[type=submit]{
	position: relative;
width:100%;
height:50px;
border-radius:5px;
background-color: rgba(0,0,0, 0.7);
display: inline-block;
color: #EEBE48;
}

.posts input[type=submit]:hover{
background-color: #000;
}

.feed{
	width:50vw;
	margin:0 auto;
}

.more{
	font-size: 14px;
	margin-bottom:20px;
}

.header{
	font-size: 20px;
	text-align: center;
	margin: 90px 0 50px 0;
}

.request-item{
	margin:20px auto;
	width:100%;
	position: relative;
	padding:20px;
}

.request-item:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.request-item input[type=submit]{
width:20vw;
height:30px;
border-radius:5px;
background-color: #EEBE48;
display: inline-block;
color: #393E41 ;
font-size: 12px;
}

.request{
	width:50vw;
	margin:50px auto;
}

.request input[type=submit]{
width:auto;
height:auto;
border-left:none;
border-right:none;
border-top:none;
border-bottom:1px solid black;
background-color: #E7E5DF;
display: inline-block;
color: #393E41 ;
font-size: 10px;
margin-right:10px;
padding: 0;
}

.postform{
	width:20vw;
	margin:50px auto;
}

.postform input[type=text]{
	height:20px;
	font-size: 14px;
	width:20vw;
}

.postform input[type=submit]{
width:20vw;
height:30px;
border-radius:5px;
background-color: #EEBE48;
display: inline-block;
color: #393E41 ;
font-size: 12px;
}

.navbar input[type=submit]{
background-color: none;
border:none;
}

.navbar input[type=submit]:hover{
color:#EEBE48;
cursor: pointer;
}

.notification{
	background-color: #FE6263;
	border-radius:100px;
	width:20px;
	height:20px;
	text-align: center;
	color:white;
	position:fixed;
	top:20px;
	float:right;
	right:160px;
	z-index:+3;
	display:none;
}

button{
	width:auto;
height:auto;
border-left:none;
border-right:none;
border-top:none;
border-bottom:1px solid black;
background-color: #E7E5DF;
display: inline-block;
color: #393E41 ;
font-size: 10px;
margin-right:10px;
padding: 0;
}

.chatbox{
	border: 1px solid black;
	height:250px;
	width:200px;
	display:none;
	position:fixed;
	bottom:0;
	right:0;
}

.chatheader{
	background-color: #393E41;
	height:20px;
	width:200px;
	text-align: right;
	color: white;
}

.chatbody{
	width:185px;
	height:150px;
	overflow-x: scroll;
	object-fit: contain;
	margin: 0 auto;
}

.text_input{
	position:relative;
	width:185px;
	margin: 10px auto;
}

/*.text_input input{
	width:180px;
	height:35px;
}*/


a{
	color:#EEBE48;
	text-decoration: none;
}

a:hover{
	color:#EEBE48;
}